#light {
    background-color: white;
}

#dark {
    background-color: rgb(15, 15, 15)
}

#light .main {
    background-color: #fff;
}

#dark .main {
    background-color: #1d1d1d;
}

.switch {
    width: 100vw;
    height: 100px;
}

#light .switch label {
    background-color: black;
}

#dark .switch label {
    background-color: white;
}